[2021-09-14 12:11] pulkithanda opened #1 "Styling of the Login, Register & Apply buttons"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Task: Styling of the Login, Register & Apply buttons in matching with the design </p>
<p> The field of this submission button will be there in the python file </p>
<img src="https://cdn.discordapp.com/attachments/798877499038760981/887683902112682004/unknown.png">
<img src="https://cdn.discordapp.com/attachments/798877499038760981/8876

[2021-09-14 16:52] jimbosl1ce commented on #1
On it :)

[2021-09-15 12:23] pulkithanda commented on #1
Great! Assigned the issue to you ^_^

[2021-09-15 12:26] pulkithanda opened #2 "Designing the username logged in area"

[2021-09-15 12:40] pulkithanda opened #3 "Styling of the application responses"

[2021-09-15 13:10] pulkithanda opened #4 "Improvement of the responsiveness in the Home page"

[2021-09-15 13:19] pulkithanda opened #5 "Styling the alerts to make them readable"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Styling these alerts (eg the username is taken pls choose a different one) to make them more presentable (You're allowed to use bootstrap as long as it doesn't spoil the other parts of the website). Maybe displaying them at the top of the page or below or using any style you want. Also make sure that the alignment and the orientation o

[2021-09-15 13:31] pulkithanda opened #6 "Adding a Video Gallery section for pictures"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Adding a Video gallery below the about me page as a separate div for eg: </p>
<img src="https://cdn.discordapp.com/attachments/740981051098398751/878193803662622720/unknown.png">
<p>You may use the following links for your reference:</p>
<p><a href="https://codemyui.com/pixelated-movement-effect-for-images-with-hover-dissolve-animation

[2021-09-15 14:17] himanshu007-creator commented on #5
hi, i would like to work on this issue

[2021-09-15 17:43] pulkithanda commented on #5
Hey there! Sure go ahead, Thank you
Assigned the issue to you

[2021-09-15 18:16] pulkithanda opened #7 "Adding a My team section for 4 to 5 team cards"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Adding a My team section for 4 to 5 team cards (for now use random names)</p>
<img src="https://cdn.discordapp.com/attachments/787749276956491806/887762968014622740/unknown.png" height="150px" width="300px">
<img src="https://cdn.discordapp.com/attachments/787749276956491806/887763208599896094/unknown.png" height="150px" width="300px">

[2021-09-16 05:13] theyup12 commented on #2
Hi, Can I work on this one ?

[2021-09-16 06:09] pulkithanda commented on #2
Hey there! Sure go ahead, Assigned the issue to you

[2021-09-19 14:41] artimanputra commented on #7
I want to work on this section

[2021-09-20 07:19] artimanputra commented on #7
I would like to work on this issue.

[2021-09-20 08:57] artimanputra commented on #7
I want to work on this issue.

[2021-09-20 10:16] pulkithanda commented on #7
Hey there! Sure go ahead, Assigned the issue to you

[2021-09-20 15:15] artimanputra commented on #7
I made this team section. Let me know if any changes can be done. Then I will send a pull request. (Please ignore the watermark in the video it is due to software)[https://drive.google.com/file/d/12gi2bywM5BWZxPuBhs2RHSOwpViAMkQz/view?usp=sharing](url)

[2021-09-20 18:03] nverbois commented on #6
Hi,

I'm interested in working on this issue.

Let me know if I can try to solve it ;)

[2021-09-20 18:55] pulkithanda commented on #7
Please add a heading tag below the about us section and then add this team section. A little spacing btw the buttons would do the trick. Also If you could try to make it responsive it would be great. Rest everything is nice! One more thing, If you'd submit a PR now and I accept it, It won't be counted in hacktoberfest( If you're participating for that). Your PR will only be counted for hacktoberfe

[2021-09-20 18:57] pulkithanda commented on #6
Hey there! Sure go ahead, Assigned the issue to you. Good luck.
(btw if you could star it and follow me it would be great :) thanks)

[2021-09-21 05:05] artimanputra commented on #7
Thanks for all the suggestions. I will make it responsive. Yeah, I am going to participate in hacktoberfest, sure I will submit my PR in October.

[2021-09-21 06:46] pulkithanda commented on #7
Yea great just wait for October then! Meanwhile, you can select other issues from other ppl even ill be posting many more. Good luck!

[2021-09-21 06:57] pulkithanda commented on #2
@theyup12 you have a discord or something? I am not able to see the username once logged in.

[2021-09-21 07:04] pulkithanda commented on #2
li style="cursor:pointer;">Welcome {{ current_user.username }}</a></li
This too --> img src = "../static/pics/default.png" alt ="account" style = "width:30px; border-radius:50%"
 Here how can the user see his username ?  as only the picture will be displayed and that too it remains common right ?

[2021-09-21 07:19] pulkithanda opened #13 "Adding a footer and integrating the social links in that"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Adding a footer and integrating the social links in that (including all general things a footer has) </p>
<img src="https://cdn.discordapp.com/attachments/802260112252731433/889773255899086868/unknown.png" height="150px" width="550px"> <br><br>
<img src="https://cdn.discordapp.com/attachments/802260112252731433/889773894817419324/bgAAA

[2021-09-21 07:44] pulkithanda opened #14 "Adding a space themed preloader"

[2021-09-21 08:04] pulkithanda opened #15 "Adding a Our services section for this website"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Adding a Our services section for this website (for now use random services) </p>
<img src="https://cdn.discordapp.com/attachments/802260112252731433/889783641029361704/maxresdefault.png" height="150px" width="270px">
<img src="https://cdn.discordapp.com/attachments/802260112252731433/889783870969499648/9d144042a023e93a3086e3259eb8cf10

[2021-09-21 08:18] Divyateja04 commented on #13
Um hey, I would like to work on this so can you assign this to me. Also is it okay if I submit my PR in october though so that it counts for hacktoberfest
Also I have knowldge about web dev but honestly no idea about flask so can you give me any starting points on how to find the html files and add the code

[2021-09-21 08:47] Divyateja04 commented on #13
Also um why is bootstrap not linked into this project, the head had some comment but I couldn't understand..most footers might use bootstrap containers and that wouldn't work right?

[2021-09-21 09:04] Divyateja04 commented on #13
I went through it and added some code to home.html and got to this.
![image](https://user-images.githubusercontent.com/28446977/134143344-80b14705-4f2e-4748-bd20-79eb82d73e94.png)
Tell me how it looks and any other changes to do

[2021-09-21 09:12] rahulshawdev commented on #15
Hey, can you add the website link to your repo description??

[2021-09-21 11:38] aniketpathak028 commented on #15
Hey I would like to work on this issue, however I have no experience with python and neither do I have it installed in my system, since your application uses python could you guide me on how to set-up your project on my system so that I could work on it! 🙂

[2021-09-22 06:02] pulkithanda commented on #13
Great! Thank you, Assigned the issue to you ^_^. Yeah, you can submit it in October so that it gets counted in hacktoberfest. About the Flask files, I think you have figured it out seeing the screenshot? If not then contact me on my discord (Alphabet# 0352) I'll give you a brief walkthrough. Also, The footer is perfect! No changes are needed. Just try to make it responsive nothing else.

[2021-09-22 06:04] pulkithanda commented on #15
@rahulshawdev Sure I'll host it on Heroku or replit soon.

[2021-09-22 06:09] pulkithanda commented on #15
@aniketpathak028 Sure You can work on it. Assigned the issue to you :) Sure You can install python (the latest version ) from its website. Then just use git to clone the repository. I have requirements.txt which lists all the flask modules I have used. Moreover, after installing them, You can just click on run.py it'll give you a local host just paste it in your browser and it'll run. Also, I see

[2021-09-22 06:13] pulkithanda commented on #5
@himanshu007-creator I see you have submitted the PR now but if I accept it, It won't be counted in hacktoberfest( If you're participating in that). Your PR will only be counted for hacktoberfest if you submit it in October. So do let me know below that should I merge it now or later in October. I'll check the work too. Thanks for contributing :D

[2021-09-22 06:50] Divyateja04 commented on #13
Sure I'll try to make it as responsive as possible

[2021-09-22 07:17] Divyateja04 commented on #13
Also I had noticed that, when you click on signin/register the form we get overlaps the navbar completely so can I work on that too....honestly can't promise anything here but wanted to let you know this is an issue too

[2021-09-22 09:17] himanshu007-creator commented on #5
@pulkithanda  Thanks for your concern Bhai, but I think hacktoberfest can wait for now. Please review my PR today itself and if it's good, please merge!🎉

[2021-09-23 06:30] pulkithanda commented on #5
@himanshu007-creator ohk sure bhai I'll just check and merge (btw if it helped you, please consider following would help me in further projects, thanks!)

[2021-09-23 06:35] #5 closed

[2021-09-23 06:40] pulkithanda commented on #13
Didn't get what you're referring to can you maybe attack a clip of the same or dm on discord, thanks

[2021-09-23 15:43] nshanbhag20001412 commented on #14
Hey, I want to work on this issue. Please assign it to me.

[2021-09-23 15:51] nverbois commented on #6
Hi,

I've used the second reference that you have suggested above, and tweaked it to intagrate Youtube videos thumbnails in the gallery.
This has been pushed on my branch, and I would gladly receive your feedback on that.
Let me know if you want any changes or improvments.

Thank you in advance.

[2021-09-23 18:43] pulkithanda commented on #14
Hey there! Sure go ahead, Assigned the issue to you ^_^

[2021-09-24 03:48] Abhijit25Mishra commented on #4
I would like to work on this issue, I have some background in web dev, but I don't know much about flask. Some help will also be welcome.

[2021-09-24 05:21] nshanbhag20001412 commented on #14
hey where should I add the preloader's html file? . I'm  thinking of adding the css content to main.css . Should I place the html(preloader.html) file in static or in templates folder?. Should i create a different css file for it or adding it to main.css is fine?

[2021-09-24 18:38] pulkithanda commented on #4
Hey! @Abhijit25Mishra Sure You can work on it. Assigned the issue to you :) Sure You can install python (the latest version ) from its website. Then just use git to clone the repository. I have requirements.txt which lists all the flask modules I have used. Moreover, after installing them, You can just click on run.py it'll give you a local host just paste it in your browser and it'll run. Also, I

[2021-09-24 18:52] pulkithanda commented on #6
Hey, @nverbois Your image gallery is just perfect! though id, like to add a few things first just increasing the height of the div container which holds the video gallery by 1 to 2 cm, make it a little high so that side frames are included. The second thing is that the user may not know that it is a bay window effect you can drag it so just create two buttons which indicate scroll left and right l

[2021-09-24 19:07] pulkithanda commented on #14
Hey! I cloned your repo but can't see the preloader in effect. but as for the files well the static folder contains the CSS and js files whereas the "template" folder contains all the HTML files. till now whatever preloaders I have added I have kept them in the main HTML file. Since this is flask it's a bit different I must tell you in flask the common file is a layout.html file, it contains the c

[2021-09-24 19:16] pulkithanda opened #18 "Improvement of the responsiveness of the login form"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Making the login form responsive </p>
<img src="https://cdn.discordapp.com/attachments/791743706402652170/891040235620827136/unknown.png" height="300px">
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</i> </p>
</div>

[2021-09-24 19:19] pulkithanda opened #19 "Improvement of the responsiveness of the register form"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Making the register form responsive </p>
<img src="https://cdn.discordapp.com/attachments/791743706402652170/891041030332375050/unknown.png" height="300px">
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</i> </p>
</div>

[2021-09-24 19:22] pulkithanda opened #20 "Improvement of the responsiveness of the apply form"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Making the application form responsive </p>
<img src="https://cdn.discordapp.com/attachments/791743706402652170/891041624979808356/unknown.png" height="300px">
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</i> </p>
</div>

[2021-09-24 19:28] pulkithanda opened #21 "Improvement in the responsiveness of the recruit form"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Making the recruit form responsive </p>
<img src="https://cdn.discordapp.com/attachments/791743706402652170/891043310708342884/unknown.png" height="300px">
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</i> </p>
</div>

[2021-09-24 19:31] pulkithanda opened #22 "Adding content + improvement (non code issue)"
<h2 align="center">Adding content + improvement (non code issue) </h2>
<div align="center">
<p> Rectifying these paras to make it crisp and also giving & suggesting some more content that can be used</p>
<img src="https://cdn.discordapp.com/attachments/791743706402652170/891043874200502293/unknown.png" height="300px">
<p> For further Issues contact below or use my discord to contact me <i>Alphabet

[2021-09-25 01:06] nshanbhag20001412 commented on #14
Okay yeah , I'm not familiar with flask I'll check that out. Also couldn't connect you through discord, I guess something is missing (the fourth digit)

[2021-09-25 07:39] pulkithanda commented on #14
Hey! I have updated my discord (see the issue), GitHub took # 0 and omitted 0. Anyways I have updated it. As for the issue moving your files in templates and static is good enough. You can do 1 as I explained earlier layout.html contains the common elements which are common to all the HTML's <i>without that how do you plan to display the preloader.html</i> in all of those HTML files? You can do it

[2021-09-25 08:38] Divyateja04 commented on #18
Hey I would like to work on this, can you assign this to me?

[2021-09-25 08:38] Divyateja04 commented on #19
Hey I would like to work on this, can you assign this to me?

[2021-09-25 10:55] pulkithanda commented on #19
Hey there! Sure go ahead, Assigned the issue to you

[2021-09-25 10:56] pulkithanda commented on #18
Hey there! Sure go ahead, Assigned the issue to you

[2021-09-25 14:09] Abhijit25Mishra commented on #22
I learnt writing and using markdown recently so i wanted to actually put my skills to use for  once, it would be great if u assign this to me.

[2021-09-25 22:36] nverbois commented on #6
Hi @pulkithanda ,

Thank you for your feedback and suggestions ! I'm glad to hear that the video gallery suits you, and I'll be working on those small remaining issues as soon as possible.

[2021-09-26 04:17] pulkithanda commented on #22
Hey there! Sure go ahead, Assigned the issue to you

[2021-09-27 14:07] TheCodinggDude commented on #21
Can I work on this ?

[2021-09-27 14:13] pulkithanda commented on #21
Hey there! Sure go ahead, Assigned the issue to you

[2021-09-27 17:44] RepeaterCreeper commented on #20
Hi, this is would be my first contribution. Would I need to wait until October to make this count towards hacktoberfest? I would like to take a stab at this.

[2021-09-28 08:30] pulkithanda commented on #20
Hey! @RepeaterCreeper You can start working on it now but submit the PR in October that way it will count for hacktoberfest. Assigned the issue to you, I f you face any problem contact me on discord.

[2021-09-28 14:06] RepeaterCreeper commented on #20
I don't have experience doing it, but I've seen the Hacktoberfest Guide and additionally I have to add my name to the `contributors.md` and the issue I fixed.

[2021-09-29 07:27] pulkithanda opened #23 "Hosting the site on Heroku/ Replit"
<h2 align="center"> Hosting this flask site on Heroku/ Replit </h2>
<div align="center">
<p> Making the necessary changes so it is easy to host the site on heroku / replit. Also include a document on how to host a local copy of the forks to make it easier for the people forking the repository. </p>
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</i> </p>

[2021-09-29 07:31] saif-malik-01 commented on #23
@pulkithanda can you please elaborate. You want this site to be deploy on heroku ?

[2021-09-29 07:34] pulkithanda commented on #23
@saif-malik-01 Yes this one

[2021-09-29 07:45] saif-malik-01 commented on #23
we can include a Hosting section in the read-me file for that ? and I deploy this one on my heroku id ?

[2021-09-29 07:47] pulkithanda commented on #23
Yeah in the readme it would be great. yeah you can deploy and make changes for dit to be deployed I'll accept the PR

[2021-09-29 07:50] saif-malik-01 commented on #23
please assign this to me, then I start work on it.

[2021-09-29 08:17] pulkithanda commented on #23
Sure go ahead, Assigned the issue to you

[2021-09-29 11:34] roshaan005 commented on #3
can I work on this one? I have experience with tailwind css as well if you want me to use that.

[2021-09-29 19:06] pulkithanda commented on #3
Hey there! Sure go ahead, Assigned the issue to you

[2021-10-01 02:45] saif-malik-01 commented on #23
I successfully deployed the website you can check it at https://voyager-space.herokuapp.com/
After finalizing the readme and deployment I will make a pr soon.

[2021-10-01 07:31] pulkithanda commented on #23
yea it works, go ahead

[2021-10-01 07:40] saif-malik-01 commented on #23
@pulkithanda can you please review and merge the pr #24 Which fix the error in the code.

[2021-10-01 07:49] pulkithanda commented on #23
@saif-malik-01 I have posted a comment there do check it

[2021-10-01 08:09] pulkithanda commented on #13
Thank you for contributing ^_^

[2021-10-01 08:10] #13 closed

[2021-10-01 08:15] pulkithanda commented on #23
Thank you for contributing ^_^

[2021-10-01 08:15] #23 closed

[2021-10-01 10:45] TheCodinggDude commented on #21
Hey @pulkithanda, Sorry for the late response. Can you tell me how to reproduce the effect in your screenshot ? Because I can't see this effect in any of the device models I tried.

[2021-10-01 16:21] nverbois commented on #6
Hello @pulkithanda,

I've worked on your first two comments, concerning the height of the div container which holds the video gallery as well as changing the aspect of the mouse cursor when people scroll the gallery.
The changes I've made have been pushed to my branch, I hope you'll like it!

Concerning the responsiveness, unfortunately, I had a bit of a hard time finding how to make it properly r

[2021-10-01 18:38] cherishedball commented on #1
Can I also work on it?

[2021-10-02 04:26] Abhijit25Mishra commented on #22
I have made a commit in regards to this issue please review it and let me now if u still need more edits in that .

[2021-10-02 06:25] pulkithanda commented on #1
Sure @cherishedball Go ahead

[2021-10-02 06:34] pulkithanda commented on #6
Hey there @nverbois Just if you think adding a video gallery heading if it seems suitable doesn't spoil the effects of the bay window gallery effect and a suitable background colour this is fine too. Done nothing else to do, Just send your PR ill accept it. You've done great work. (btw if it helped you, please consider following me, and starring the repository, helps me as a maintainer and would h

[2021-10-02 06:39] pulkithanda commented on #21
Hey @TheCodinggDude It's a general issue with the responsiveness. For more reference, you can check out the login form and register responsiveness that has been fixed. Also https://cdn.discordapp.com/attachments/789454958453063702/893748777368842250/unknown.png

[2021-10-02 07:23] pulkithanda commented on #19
Thank you for your contributions ^_^

[2021-10-02 07:23] #19 closed

[2021-10-02 07:23] pulkithanda commented on #18
Thank you for your contributions ^_^

[2021-10-02 07:23] #18 closed

[2021-10-02 18:04] SamikshaSankar opened #35 "Scroll button"
Please assign

[2021-10-02 18:43] Palak-2109 commented on #1
can you assign it to me also :)

[2021-10-03 05:37] pulkithanda commented on #35
<h2 align="center">Issue description</h2>
<div align="center">
<img src="https://cdn.discordapp.com/attachments/789454958453063702/894095563388231720/unknown.png" height="300px">
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</i> </p>
</div>

[2021-10-03 05:37] pulkithanda commented on #35
Hey there @SamikshaSankar Sure go ahead. Assigned the issue to you.

[2021-10-03 06:03] pulkithanda opened #36 "Adding content line below the login form"
<h2 align="center">Adding a line below the login form </h2>
<div align="center">
<p> Adding a line below the login form stating new to voyager? sign up now (matching the theme) </p>
<p> the sign up now part will contain a redirect to the register page </p>
<p> also reduce the space between the login form and the navbar </p>
<img src="https://cdn.discordapp.com/attachments/789454958453063702/894096

[2021-10-03 06:05] pulkithanda opened #37 "Adding a content line below the signup form"
<h2 align="center">Adding a line below the signup form </h2>
<div align="center">
<p> Adding a line below the login form stating already a member? login (matching the theme) </p>
<p> the login now part will contain a redirect to the login page </p>
<p> also reduce the space between the signup form and the navbar </p>
<img src="https://cdn.discordapp.com/attachments/789454958453063702/8940962769022

[2021-10-03 06:09] pulkithanda opened #38 "Adding small pictures to the procedures"
<h2 align="center">Adding small pictures to the procedures section </h2>
<div align="center">
<img src="https://cdn.discordapp.com/attachments/789454958453063702/894096531395866644/unknown.png" height="300px">
<p> A suitable svg picture is to be added like the below one at the side </p>
<img src="https://cdn.discordapp.com/attachments/789454958453063702/894103346925953074/unknown.png" height="100p

[2021-10-03 06:11] pulkithanda opened #39 "Making the procedures section responsive"
<h2 align="center">Making the procedures section responsive </h2>
<div align="center">
<img src="https://cdn.discordapp.com/attachments/789454958453063702/894096575704469584/unknown.png" height="300px">
<br><br>
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</i></p>

[2021-10-03 06:15] pulkithanda opened #40 "Adding a toggle for dark and light modes"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Adding a toggle button and making a light/dark mode components wherever needed for the website so that the user can switch between the two easily. Make the toggle button in the navbar itself or any other place you see fit.</p>

<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</i> </p>
</div>

[2021-10-03 06:19] pulkithanda opened #41 "Rectifying the application form"
<h2 align="center">Rectifying the application form </h2>
<div align="center">
<p> Rectifying the application form so that its design is like the login / register form some bug has caused this</p>
<img src="https://cdn.discordapp.com/attachments/789454958453063702/894096677282123796/unknown.png" height="300px">
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</

[2021-10-03 06:21] pulkithanda opened #42 "Rectifying the see responses form"
<h2 align="center">Rectifying the see responses form </h2>
<div align="center">
<p> Rectifying the see responses form so that its design is like the login / register form some bug has caused this</p>
<img src="https://cdn.discordapp.com/attachments/789454958453063702/894096901442510908/unknown.png" height="300px">
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 03

[2021-10-03 06:22] pulkithanda opened #43 "Making the see responses button responsive"
<h2 align="center">Making the see responses button responsive </h2>
<div align="center">
<img src="https://cdn.discordapp.com/attachments/789454958453063702/894096839085785108/unknown.png" height="300px">
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</i> </p>

[2021-10-03 06:28] pulkithanda opened #44 "Styling of the user area section"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Styling of the user section by adding the username of the user and some other things </p>
<p> Along with styling of the logout button which is beside the username </p>
<p> Make sure they stay responsive if possible ! </p>
<img src="https://cdn.discordapp.com/attachments/789454958453063702/894097410932998184/unknown.png">
<p>You may use

[2021-10-03 06:30] pulkithanda opened #45 "Beautifying the landing page"
<h2 align="center">Beautifying the landing page </h2>
<div align="center">
<p> Making the landing page beautiful by adding the space related svgs maybe? </p>
<img src="https://cdn.discordapp.com/attachments/789454958453063702/894097482252976178/unknown.png" height="300px">
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</i> </p>

[2021-10-03 06:30] Jibendu007 commented on #44
@pulkithanda  can I be assigned?

[2021-10-03 06:35] pulkithanda opened #47 "Adding a search box facility in the navbar"
<h2 align="center">Adding a search box facility in the navbar </h2>
<div align="center">
<p> Adding a search menu option in the navbar with search functionality </p>
<img src="https://cdn.discordapp.com/attachments/789454958453063702/894100503963770920/unknown.png">
<p>You may use the following links for your reference:</p>
<p><a href="https://www.youtube.com/watch?v=v1PeTDrw6OY">https://www.youtu

[2021-10-03 06:35] pulkithanda commented on #44
Hey there @Jibendu007 Sure go ahead mate

[2021-10-03 06:41] pulkithanda opened #48 "Adding a contact us form"
<h2 align="center"> Adding a contact us form  </h2>
<div align="center">
<p> Adding a contact us form which should be visible with / without login in the navbar </p>
<p> The contact form should match with the theme and be responsive </p>
<p>You may use the following links for your reference:</p>
<p><a href="https://www.youtube.com/watch?v=l_Z3N3etkS0">https://www.youtube.com/watch?v=l_Z3N3etkS0</a

[2021-10-03 06:45] Harsh-Singh-Rajput commented on #48
hello @pulkithanda can i start making contact form
?

[2021-10-03 06:46] pulkithanda commented on #48
Hey there @Harsh-Singh-Rajput Sure go ahead mate! Do keep in mind it should be visible both before and after logging in.
Make a navbar place for contact too after the procedure where you can add it

[2021-10-03 06:48] Harsh-Singh-Rajput commented on #48
@pulkithanda  you mean navbar in contact form  ?

[2021-10-03 06:48] pulkithanda commented on #48
Adding a contact element in the navbar like there's one for login register

[2021-10-03 06:49] vismitap commented on #43
Hey, I would like to work on this issue!

[2021-10-03 06:50] Harsh-Singh-Rajput commented on #48
@pulkithanda ok got it thanks for assigning it to me

[2021-10-03 06:50] JanviRaina commented on #47
I would like to work on this.

[2021-10-03 06:51] pulkithanda commented on #48
Happy Hacktoberfest ^_^

[2021-10-03 06:52] pulkithanda commented on #43
Hey there @vismitap  Sure go ahead mate!

[2021-10-03 06:53] Harsh-Singh-Rajput commented on #48
please also tell me what details you want to be filled by user in form

[2021-10-03 06:55] pulkithanda commented on #47
Hey there @JanviRaina Sure go ahead! Assigned it to you ^_^

[2021-10-03 06:59] shm-dsgn commented on #45
Please assign this to me.

[2021-10-03 07:01] pulkithanda commented on #45
Hey there @shm-dsgn ! Sure go ahead mate.

[2021-10-03 07:27] Harsh-Singh-Rajput commented on #48
hello @pulkithanda how should i run and check the page locally because  the page is not applying css

[2021-10-03 07:28] pulkithanda opened #49 "Adding a missions services section for this website"
<h2 align="center">Issue picture</h2>
<div align="center">
<p> Adding a missions space section for this website (for now use random missions) </p>
<p> The missions section should be added after the procedure and procedure in navbar to be renamed as missions.
<p> For further Issues contact below or use my discord to contact me <i>Alphabet# 0352</i> </p>
</div>

[2021-10-03 07:30] pulkithanda commented on #48
Its a flask website. First of all you should be familiar with how to run a flask website. Use the run.py file and copy the local host generated and paste it on the web. Insert the components correctly so as to not mess up with the backend. For any other problems, you can contact me on discord. You can view how I have made the login form and functionality for reference.

[2021-10-03 07:30] GeorgeET15 commented on #49
Hi Sir,

I would like to solve this issue can you please assign this to me. Thank you

[2021-10-03 07:31] pulkithanda commented on #49
Hey there @GeorgeET15. Sure go ahead mate!

[2021-10-03 07:33] Harsh-Singh-Rajput commented on #48
ok

[2021-10-03 07:54] swaraj-ssk commented on #41
Can you assign me this issue? I will improve UI.

[2021-10-03 07:55] swaraj-ssk commented on #40
I can add this. Can you assign me this issue?

[2021-10-03 07:57] GeorgeET15 commented on #49
Sir,

I am not able to  run this website, can you please help me

[2021-10-03 08:03] Siddharth1002 commented on #37
Can I work on this issue?

[2021-10-03 08:05] swaraj-ssk commented on #35
I am interested.

[2021-10-03 08:06] Palak-2109 commented on #37
wanna claim this issue.!

[2021-10-03 08:06] Palak-2109 commented on #36
can i work on this

[2021-10-03 08:09] pulkithanda commented on #41
Hey there! Sure go ahead, Assigned the issue to you

[2021-10-03 08:09] pulkithanda commented on #36
Hey there! Sure go ahead, Assigned the issue to you

[2021-10-03 08:10] pulkithanda commented on #37
Hey there! Sure go ahead, Assigned the issue to both of you. Whoever submits the PR first will be merged and for the second PR that will be marked with "hacktoberfest-accepted". So serves the purpose for both of you. Happy Hacktoberfest.

[2021-10-03 08:11] pulkithanda commented on #40
Hey there! Sure go ahead, Assigned the issue to you. Make sure you design the light/ dark mode components wherever needed.

[2021-10-03 09:06] pulkithanda commented on #44
@Jibendu007 you wanna work or not ?

[2021-10-03 09:12] AmbikeshArman commented on #36
I want to work on this. can you assign me

[2021-10-03 09:50] gamer-1478 commented on #42
could you assign it to me?

[2021-10-03 09:52] pulkithanda commented on #42
Hey there! Sure go ahead

[2021-10-03 09:54] pulkithanda commented on #36
Hey there! Sure go ahead, Assigned the issue to you

[2021-10-03 10:53] #42 closed

[2021-10-03 10:54] yamanidev commented on #39
How exactly do you want it to look? It seems responsive to me

[2021-10-03 10:56] pulkithanda commented on #39
It seems so but the box length should change with change in dimentions

[2021-10-03 11:16] gamer-1478 opened #53 "Adding more robust validation for username and password."
Making sure the minimum length of password is 6 and max 64, and there are no whitespaces in both password and username.

Could you please assign me to it?

[2021-10-03 11:23] Harsh-Singh-Rajput commented on #48
![image](https://user-images.githubusercontent.com/61553586/135751350-d7a706a8-a287-439c-b7a7-95e416140a46.png)
@pulkithanda i made the contact page by reusing main.css theme so that it matches with site , pls see this whether it is ready for pr or should I have to make changes.
And also I didn't know python backend that's why I was unable to link it with database sorry for that

[2021-10-03 11:25] Harsh-Singh-Rajput commented on #48
will you tell me how to link it with database?

[2021-10-03 13:47] Deep1Shikha commented on #38
Could you assign it to me?

[2021-10-03 14:32] SamikshaSankar commented on #35
@swaraj-ssk you can start...unassign myself

[2021-10-03 15:48] contracamilo commented on #39
Hey Friend, I can work in this issue.

[2021-10-03 16:33] akgupta0777 commented on #48
I came here to take this issue but it's already assigned.
@Harsh-Singh-Rajput By the way nice work.

[2021-10-03 17:50] pulkithanda commented on #38
Hey there @Deep1Shikha, Sure go ahead!

[2021-10-03 17:56] pulkithanda commented on #39
Hey there @contracamilo ! Sure go ahead

[2021-10-03 17:57] pulkithanda commented on #35
@swaraj-ssk sure go ahead

[2021-10-03 17:58] pulkithanda commented on #35
@SamikshaSankar Please refrain from creating issues if you do not want to work on them.

[2021-10-03 18:01] #53 closed

[2021-10-03 18:48] SamikshaSankar commented on #35
Sorry @pulkithanda

[2021-10-04 02:01] contracamilo commented on #39
Hey @pulkithanda  I'm having some problems setting up the project with some dependencies.  Do you have any idea or advice?

Flask-MySQLdb==0.2.0
mysqlclient==2.0.3

<img width="954" alt="Screen Shot 2021-10-03 at 8 59 41 PM" src="https://user-images.githubusercontent.com/27745159/135783021-3d0ba372-39a8-4f10-8682-cda808359a37.png">

[2021-10-04 03:09] Harsh-Singh-Rajput commented on #48
Thanks for appreciation, yes this is assigned to me😃

[2021-10-04 03:57] pulkithanda commented on #53
Assigned and closed

[2021-10-04 04:01] pulkithanda commented on #48
@Harsh-Singh-Rajput I wanted you to make it different from the other forms like using some svgs etc. Anyways leave some spaces and match the spacings if you're making them like others. Also as for the database, I have used flask so maybe try to link it then it's nice. I'll merge after that. You can dm on discord if any problems. Also @akgupta0777 you can contribute too I can mark your PR as hackto

[2021-10-04 04:10] pulkithanda commented on #49
@GeorgeET15 in the missions section you need to add missions for the space section like NASA or any space website has. Also incorporate the procedures in that only no need for the "missions space" section. Please do these changes. For examples:
https://codepen.io/bramus/pen/PobmGme https://codepen.io/royemosby/pen/rXjEEm https://codepen.io/HenrikFricke/pen/eYByWPw Something like these in card form

[2021-10-04 04:13] pulkithanda commented on #39
Can you contact me on discord @contracamilo ? I can help you there.

[2021-10-04 05:11] akgupta0777 commented on #48
@pulkithanda what do you want to do in the backend once the send button is clicked on the contact page.

[2021-10-04 06:12] pulkithanda commented on #48
The contact responses are stored in a local database or sent to a google doc whichever? like the admin panel responses. Also checks on the fields of contact forms like login and register forms.

[2021-10-04 06:14] pulkithanda commented on #1
Sure @Palak-2109 Go ahead

[2021-10-04 07:31] GeorgeET15 commented on #49
Ok let me see ;)

[2021-10-04 13:09] a-muk commented on #44
Hello! I wld like to work on this issue. Can it be assigned to me?

[2021-10-04 15:51] pulkithanda commented on #44
Hey there @a-muk, Sure go-ahead

[2021-10-04 17:41] nverbois commented on #6
Hey @pulkithanda ,

Thank you for your final feedback on my contribution.
I've added a heading to the video gallery using the same text formatting as you used above on the home page. Regarding the background color, I was at first using the same shade of "black/grey" as you used for the navigation bar, but I have changed it to white now, as I find it to be more suitable for the whole homepage desig

[2021-10-05 10:01] #48 closed

[2021-10-05 18:36] pulkithanda commented on #39
@contracamilo I can tell you here if you want mate, just ask !?

[2021-10-05 18:42] #6 closed

[2021-10-05 18:51] Abhishek2408 opened #60 "Contact us page is looking baisc i want to impore that."
Please assign the role to me.

[2021-10-05 20:01] vampnik commented on #47
Can I also contribute to this issue.

[2021-10-05 20:07] abhay-420 opened #61 "None of the link is working properly in the footer."
Can I work on making the footer responsive?

[2021-10-05 20:10] vampnik opened #62 "Adding Our Team Page"
Can I work on making our team Page?

[2021-10-06 04:18] pulkithanda commented on #62
Sure @vampnik Go ahead. I think an issue for this has been made.
https://github.com/pulkithanda/voyager-hf/issues/7 Kindly comment here, Ill assign you

[2021-10-06 04:20] pulkithanda commented on #61
Sure @abhay-420 Go ahead , the footer is responsive add the links and beautify it if you wish.

[2021-10-06 04:20] pulkithanda commented on #60
@Abhishek2408 Sure mate go ahead

[2021-10-06 04:21] pulkithanda commented on #45
@shm-dsgn Kindly dont take it next time if you do not want to work on it.

[2021-10-06 04:27] shm-dsgn commented on #45
Sorry. Couldn't work on it due to some personal issue.

[2021-10-06 04:56] vampnik commented on #7
Hey
Can I work on this our team page?

[2021-10-06 05:35] abhay-420 commented on #61
sure @pulkithanda

[2021-10-06 07:42] pulkithanda commented on #47
Sure @vampnik Go ahead

[2021-10-06 08:07] #62 closed

[2021-10-06 08:17] prachi0011 commented on #7
Hey, I want to work on this issue. Actually I have done this task in project as well.

[2021-10-06 08:42] pulkithanda opened #63 "Changing the navbar style to make it look more appealing and match the ui"

[2021-10-06 17:35] vikasbhalla05 commented on #63
Hey, I am interested in working on this issue

[2021-10-06 18:14] pulkithanda commented on #63
Hey @vikasbhalla05 Sure go ahead mate

[2021-10-08 19:12] pulkithanda commented on #38
Hey @Deep1Shikha Sure go ahead

[2021-10-09 04:53] imobasshir opened #67 "Update footer"
Remove colon from footer it's not looking nice
![Screenshot_2021-10-09-10-18-16-01_e4424258c8b8649f6e67d283a50a2cbc](https://user-images.githubusercontent.com/62945306/136644555-10758f73-9668-4cfa-93af-17c81c9bb158.jpg)

[2021-10-09 11:01] Shiyasmohd commented on #67
can i work on this? if yes please do assign me

[2021-10-09 11:12] imobasshir commented on #67
I have created this issue so project manager should assign this to me

[2021-10-09 17:00] tusharkandpal commented on #61
can I work on this too ?

[2021-10-10 06:46] pulkithanda commented on #7
@vampnik Yeah sure gimme some time exams going on. will tell you in sometime

[2021-10-10 07:01] vampnik commented on #7
@pulkithanda Sure no problem

[2021-10-12 06:48] #47 closed

[2021-10-13 03:20] aniketpathak028 commented on #15
@pulkithanda I have completed the design of 'Our Services' section as per the need, however, I have trouble understanding the file structure. Could you please instruct me on which folder should I push my code exactly

[2021-10-14 09:32] pulkithanda commented on #15
You need to put the code in the home.html and css file in the home.html put it after the video gallery and before see responses.

[2021-10-16 08:33] 2024-SANDHYA opened #69 "Favicon"
Adding Favicon to the webpages

[2021-10-17 10:48] tusharkandpal commented on #61
@pulkithanda what are the links to be added ?

[2021-10-17 15:07] Kakuli-coder commented on #69
Hey @pulkithanda ! I can create a favicon resonating with the website. Kindly assign this issue to me

[2021-10-19 00:33] anishwar-007 commented on #45
@pulkithanda i am intrested in working on this issue , can you expain this issue a little.

[2021-10-19 00:34] anishwar-007 commented on #41
is this issue still being worked upon, if not can you please assign it to me?

[2021-10-19 17:23] pulkithanda commented on #69
Hey there @2024-SANDHYA Yeah ig you can work on it.

[2021-10-19 17:23] pulkithanda commented on #63
Any updates yet @vikasbhalla05 ?

[2021-10-19 17:24] pulkithanda commented on #61
Hey @tusharkandpal Just link it to whatever is in the website info you can find otherwise maybe add any external source.

[2021-10-19 17:25] pulkithanda commented on #49
Any updates yet @GeorgeET15  ?

[2021-10-19 17:25] pulkithanda commented on #45
Hey @anishwar-007 Sure go ahead. Just add some small space-related SVG's or some CSS space effects on the sides? Or some loading animations on the text because the home page is just basic.

[2021-10-19 17:26] pulkithanda commented on #44
Any updates yet @a-muk  ?

[2021-10-19 17:27] pulkithanda commented on #41
Yes sure @anishwar-007 if you wanna work on it go ahead.

[2021-10-19 17:27] GeorgeET15 commented on #49
No I am not doing it anymore please assihn it someone else thank you

[2021-10-19 17:28] pulkithanda commented on #40
Any updates yet @swaraj-ssk ?

[2021-10-19 17:29] pulkithanda commented on #20
Any updates yet @RepeaterCreeper  ?

[2021-10-19 17:30] pulkithanda commented on #14
Any updates yet @nshanbhag20001412  ?

[2021-10-19 17:30] pulkithanda commented on #3
Any updates yet @roshaan005  ?

[2021-10-19 18:03] attreyee-muk commented on #44
Sir pls give me some more time. I am very new to python integration with web.

[2021-10-20 03:24] nshanbhag20001412 commented on #14
i was busy these days i tried couldnt do it :(

[2021-10-20 05:43] vikasbhalla05 commented on #63
I have not worked with python files
I have cloned the project
can you guide me a little
how can I preview the project on my machine?

[2021-10-20 06:11] pulkithanda commented on #63
Hey @vikasbhalla05 just double click on the run.py after cloning and copy the local port and paste it on the web to see it run.

[2021-10-20 06:14] pulkithanda commented on #49
Why did you take it in the first place then 17 days is a long time. At least push something you did till now ?

[2021-10-20 06:17] pulkithanda commented on #44
Hey @a-muk Sure no prob, was just confirming nd no need to call me sir.

[2021-10-20 06:19] pulkithanda commented on #14
@nshanbhag20001412 What part exactly I told you how it worked? if you couldn't reduce the size leave it push the rest ?

[2021-10-21 13:28] attreyee-muk commented on #44
Hello! I don't think I will be able to solve the issue. You can assign it to someone else. Thank you!😊

[2021-10-21 19:28] pulkithanda commented on #44
I would like to ask you something why did you take it in the first place? You know it's been 18 days and you're coming up with this now, you just don't quit things around after this long, Anyways as you wish.

[2021-10-22 03:11] nshanbhag20001412 commented on #14
due to my college work im not able to spare time, im sorry

[2021-10-22 08:26] Raghav-Modani commented on #20
Hey @pulkithanda! Can I work on this issue?

[2021-10-23 09:09] pulkithanda commented on #20
Hey there @Raghav-Modani Sure go ahead

[2021-10-25 09:34] Raghav-Modani commented on #20
Hello @pulkithanda! While running the command `flask run` I am getting this error :
PS D:\HacktoberFest2021\hacktoberfest7\voyager-hf\voyager> flask run
 * Serving Flask app '__init__' (lazy loading)
 * Environment: development
 * Debug mode: on
Try 'flask run --help' for help.

Error: While importing 'voyager', an ImportError was raised:

Traceback (most recent call last):
  File "c:\users\hp\app

[2021-10-25 12:33] pulkithanda commented on #20
Hey @Raghav-Modani I have all the list of modules in requirements.txt so just install that and then run. There's a command pip install equirements.txt to do all you can check it out on google. just install requirements then run.

[2021-10-25 12:38] Raghav-Modani commented on #20
I have already done this. All other packages like SQLAlchemy, Flask-login etc are working fine. Only this flask-bcrypt is not resolving.

[2021-10-25 18:40] pulkithanda commented on #20
Hmm I see maybe git pull once and then try? It'll work then I tried right now. If there's still an import error then do tell.

[2021-10-28 15:56] JaswanthReddyPadala opened #70 "Adding Preloader to Home Page"
Adding awesome cool space animation preloader to Home page.

[2021-10-28 15:57] JaswanthReddyPadala commented on #70
Hey, Can I make the preloader?

[2021-10-28 17:55] pulkithanda commented on #70
Hey there @JaswanthReddyPadala Sure go ahead.
There's already a issue open for this https://github.com/pulkithanda/voyager-hf/issues/14 take it here.

[2022-09-06 20:27] Andyy-18 commented on #1
Can I contribute ?

[2022-09-06 20:29] Andyy-18 commented on #4
Hey can I work on it ?

[2022-09-07 03:41] Abhijit25Mishra commented on #4
Yes @pulkithanda please assign it to @Andyy-18. I dont have the time to go ahead with the issue.

[2022-10-04 16:33] Satyabrat-Ojha commented on #1
I can align login/register pages and do appropriate styling please assign it to me

[2022-10-20 07:11] pulkithanda commented on #1
@Andyy-18 @Satyabrat-Ojha Sure go ahead

[2022-10-20 07:20] pulkithanda commented on #4
Sure @Andyy-18 go ahead. No problem @Abhijit25Mishra